In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('final_dataset.csv')

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,label
0,0.000000,0.000000,11.155900,0.000000,3.591174,25.817806,0.000000,0.000000,6.094811,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,168.932676,-6.927498,9.563020,11.639917,32.801613,7.652093,5.243180,19.012682,17.691835,33.619661,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,249.059059,27.927930,-3.996303,21.497892,-2.323809,7.069282,-6.190207,6.503228,-12.524828,10.058728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,252.531943,21.928249,-2.387793,5.969638,-7.856090,12.908912,-2.023830,0.817288,3.591996,9.913971,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,259.454392,8.807295,15.668094,2.562277,-7.015820,1.783297,4.826711,15.453655,16.263945,13.201336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4757,100.918475,2.174336,2.583106,-1.173220,-0.522607,1.353472,-1.288523,0.955133,-0.661908,0.445936,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4758,0.000000,0.000000,0.049103,5.775749,0.000000,0.000000,4.913372,0.000000,2.291386,1.260078,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4759,234.374130,3.135043,14.568905,4.852194,-14.181021,-0.794527,17.905698,29.121737,20.166592,7.008972,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4760,205.293305,-1.828981,2.603495,13.549016,20.270973,7.368783,6.078625,8.008604,12.734015,8.017484,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4761,282.632028,0.492079,5.374293,9.343418,8.500177,0.387339,1.632327,4.630989,1.706718,6.055126,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0